In [1]:
import wget
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
from zipfile import ZipFile

In [40]:
for i in range(0,3):
    url = f'https://data.binance.vision/data/spot/daily/trades/BTCUSDT/BTCUSDT-trades-2022-03-0{i+1}.zip'
    wget.download(url)
    
    with ZipFile(f'BTCUSDT-trades-2022-03-0{i+1}.zip', 'r') as zip:
    
        # printing all the contents of the zip file
        zip.printdir()    

        # extracting all the files
        print('Extracting all the files now...')
        zip.extractall()
        print('Done!')

100% [........................................................................] 24532573 / 24532573File Name                                             Modified             Size
BTCUSDT-trades-2022-03-02.csv                  2022-03-03 00:16:24    123089358
Extracting all the files now...
Done!
100% [........................................................................] 19166497 / 19166497File Name                                             Modified             Size
BTCUSDT-trades-2022-03-03.csv                  2022-03-04 00:19:20     96052641
Extracting all the files now...
Done!

In [2]:
data1 = pd.read_csv('BTCUSDT-trades-2022-03-01.csv')
data2 = pd.read_csv('BTCUSDT-trades-2022-03-02.csv')
data3 = pd.read_csv('BTCUSDT-trades-2022-03-03.csv')

In [3]:
df1 = data1.copy()
df2 = data2.copy()
df3 = data3.copy()

###### In the downloaded dataset, actual tick data is set as column names, so here we are adding the column names of df2, as a last data row in df1, and adding the column names of df3, as a last data row in df2

In [4]:
df1.loc[len(df1.index)] = df2.columns
df2.loc[len(df2.index)] = df3.columns

###### Now, we need to club the all 3 datasets into one, so we need to reset their column names as same for all 3 dataFrames

In [5]:
df1.rename(columns={'1274557543':'Trade_Id', '43160.00000000':'Price', '0.00056000':'Qty', '24.16960000':'QuoteQty',
                    '1646092800000':'time','True':'isBuyerMaker', 'True.1':'isBestMatch'}, inplace=True)
df2.rename(columns={'1276424414':'Trade_Id', '44421.20000000':'Price', '0.00097000':'Qty', '43.08856400':'QuoteQty',
                    '1646179200000':'time','True':'isBuyerMaker', 'True.1':'isBestMatch'}, inplace=True)
df3.rename(columns={'1278077545':'Trade_Id', '43892.99000000':'Price', '0.00158000':'Qty', '69.35092420':'QuoteQty',
                    '1646265600000':'time','False':'isBuyerMaker', 'True':'isBestMatch'}, inplace=True)

###### Now here we combine the data of 3 days into 1 dataset

In [6]:
df4 = pd.concat([df1, df2, df3])
df4

,Trade_Id,Price,Qty,QuoteQty,time,isBuyerMaker,isBestMatch
0,1274557544,43160.01,0.00052,22.443205,1646092800003,False,True
1,1274557545,43160.01,0.00182,78.551218,1646092800004,False,True
2,1274557546,43160.01,0.00631,272.339663,1646092800005,False,True
3,1274557547,43160.0,0.00229,98.8364,1646092800006,True,True
4,1274557548,43160.0,0.00739,318.9524,1646092800007,True,True
...,...,...,...,...,...,...,...
1289314,1279366860,42454.01,0.00124,52.642972,1646351999996,False,True
1289315,1279366861,42454.0,0.00257,109.10678,1646351999996,True,True
1289316,1279366862,42454.01,0.00054,22.925165,1646351999997,False,True
1289317,1279366863,42454.01,0.00198,84.05894,1646351999997,False,True
1289318,1279366864,42454.0,0.00052,22.07608,1646351999999,True,True

In [7]:
print(df4.shape)
print(df1.shape)
print(df2.shape)
print(df3.shape)

(4809321, 7)
(1866871, 7)
(1653131, 7)
(1289319, 7)

###### Resetting the index

In [10]:
df4['Index'] = range(0, len(df4))
df4.set_index('Index', inplace=True)
df4

,Trade_Id,Price,Qty,QuoteQty,time,isBuyerMaker,isBestMatch
Index,,,,,,,
0,1274557544,43160.01,0.00052,22.443205,1646092800003,False,True
1,1274557545,43160.01,0.00182,78.551218,1646092800004,False,True
2,1274557546,43160.01,0.00631,272.339663,1646092800005,False,True
3,1274557547,43160.0,0.00229,98.8364,1646092800006,True,True
4,1274557548,43160.0,0.00739,318.9524,1646092800007,True,True
...,...,...,...,...,...,...,...
4809316,1279366860,42454.01,0.00124,52.642972,1646351999996,False,True
4809317,1279366861,42454.0,0.00257,109.10678,1646351999996,True,True
4809318,1279366862,42454.01,0.00054,22.925165,1646351999997,False,True
4809319,1279366863,42454.01,0.00198,84.05894,1646351999997,False,True
4809320,1279366864,42454.0,0.00052,22.07608,1646351999999,True,True

###### Making a copy of our final dataset for further analysis

In [11]:
data = df4.copy()  #Final Dataset for further Analysis
data.to_csv('BTCUSDT_DataSet.csv')